
* { box-sizing: border-box; } 

#table {
    margin: 0 auto;
    padding: 1px;
    width: 675px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.style {
    font-weight: bold;
}

.link {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: rgb(171, 217, 245);
  }

#head {
    background-color: rgb(74, 74, 80);
    color: white;
}

.image  {
    width: 375px;
}