body {
    display:grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 75px auto 50px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    grid-template-areas: 
            "hdr hdr"
            "aside main"
            "ftr ftr";
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    color: white;
    background-color: rgb(33,87,51);
    grid-area: hdr;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: rgb(75,133,94);
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    color: white;
    background-color: rgb(53,112,72);
    grid-area: ftr;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(33,87,51);
}

p {
    line-height: 24px;
}

.restName {
    background-color: rgb(33,87,51);
    color: white;
    font-style: italic;
    padding: 5px;
    border-radius: 3px;
}


/* I put the values at 10% to allow for a horizontalflexing of the nav headings. at 20px, I was not
getting any flexing as the viewport values changed.*/

footer > div {
    margin: 0px 10%;
}


header > div {
    margin: 0px 10%;
}